<div class="col-lg-4">
		<h4>Add a new task</h4>
			<div class="form-group">
		  		<%= form_for(@todo) do |f| %>
		  		<p>
		  		<%= f.label :todo_item %><br>
        		<%= f.text_field :todo_item %>
        		</p>
        		<p>
		  		<%= f.submit %>
		  		</p>
				<% end %>
			</div>
				<p>
		<%= link_to 'Back to List', todo_path(@todo) %>
		</p>
		</div>